# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Environment variables
backend/.env

backend/db.sqlite3

# VS Code
.vscode/

# User-uploaded doctor documents
backend/media/doctor_documents/
